61375 study

WTB(wire train bus), MVB  都是沒有 ethernet 時期的舊 protocol 

* MCG:mobile communication network 在 train 上
* GCG: ground consist gateway 在地面
MCG & GCG 互聯要 roaming...

A bidirectional gateway between a consist network
and a train backbone provides the following basic services at each communication interface:
page 38.  沒舉例 不知道這裡的 service 是什麼


• a data sink, which is an application instance consuming user data.
• a data source, which is an application instance producing user data.
The following data sending characteristics are considered:
• Cyclic sending: data is exchanged cyclically, e.g. every 0,1 s.
Sporadic sending: data is exchanged when needed, e.g. an Event or Command.

p2p
p2mp
subscription 


每個 consist  內的 device 都有 consist network address, 
以前是 MVB device address, 現在是 IP address

train network address
* must be unique
* may be changed in inauguration


For the point-to-point communication between specific functions/functions instances (data packet containing the address of source and destination):
_ipt://instance.function@device.vehicle.consist.train.fleet_
For multicast communication (data packet based on publish/subscribe paradigm):
_ipt://instance.function@deviceGroup.vehicle.consist.train.fleet_

Functional addressing
Functional addressing is a special way of application addressing. Instead of addressing a specific communication device in a consist, an abstract function in this consist is addressed.
For functional addressing the following shall apply:
Functions shall be identified by a unique function name.

It should be possible to address functions in a train’s consist by using the pair:
[function name, consist number].

Communication between ED connected to the same consist network __shall not be interrupted__ by train inauguration.

兩台 ETBN 要可以做 link aggreation 
Link aggregation configuration is set statically at initialisation time of ETBN.

When a Consist is composed of only one Consist Network subnet without ETBN redundancy,
“Subnet Id” is equal to the “ETBN Id” (see Figure 16 and Figure 17).

At train level, IETF RFC 2365 range 239.192.0.0/14 (organization scope) shall be used for multicast addressing (see Table 8).

When CN is based on Ethernet (ECN) another multicast address range should be defined for local ECN usage, proposed range is 239.255.0.0/16 (local scope), see IETF RFC 2365 and IEC 61375-3-4.
Interoperability reserved range is (255 group addresses):


## multicast group
All ETBNs shall subscribe to 239.192.0.129.
• All hosts on ETB subnet shall subscribe to 239.192.0.128.
EDs needing to receive train scope messages shall subscribe to 239.192.0.0.

## NAT
a mechanism like NAT shall be available at ETBN in order to convert localized address to train subnet address space at ETBN level.

##  bypass
In passive bypass setting, the ETB lines shall bypass the ETB switch, which then is decoupled from the ETB lines (see Figure 30). The Passive Bypass Setting is the default setting in the powerless state and the ETB switch is out of order.

## ETBN multicast rules
* Multicast filtering like IGMP snooping at layer 2 __shall not__ be used on ETB network.
* Multicast routers (ETBNs) shall not forward any multicast datagram with destination addresses in 224.0.0.0 to 224.0.0.255 range (224.0.0/24), regardless of its TTL.
* ETBNs shall forward on ETB network all multicast group IP addresses from this specific range independently of IP source address.
* ETBNs shall be aware of the list of multicast groups of interest for the end devices on its Consist Networks.
* For these groups, each ETBN shall install a route in multicast routing table and configure its ETB interface to accept such multicast groups.  This solution is based on the ability for each ETBN to set a line like (MG/range, *) in its multicast table.   Static multicast routing??

* Physical Topology:  “Connectivity Table”
* Logical Topology: “Train Network Directory”.


* moxa four pairs of by-pass ports, suprisingly no TTDP.
  - http://www.moxa.com/doc/man/TN-5916_Series_QIG_e1.0.pdf
  - http://www.moxa.com/support/sarch_result.aspx?type=doc&prod_id=4127&type_id=7
* support all old 61375 protocols MVB, WTB and old interfaces ex. CAN.
http://www.eke-electronics.com/cn/

http://www.tcnopen.eu/projectstructure.aspx

TTDP messages shall be VLAN tagged in accordance to IEEE 802.1Q:
VLAN identifier (VID) shall be set to 492 (= '1EC'H),
VLAN priority shall be set to highest priority 7.


## TTDP TOPOLOGY frame
* 8.6.1, TTDP TOPOLOGY frames are periodically sent on all ETBN logical links (in directions 1 and 2).
* ETB TLV & CN TLV is the major content.


## End Node
advertised of the new approved topology. Train ETB extremity ports are in Discarding state and only HELLO messages(IEEE 802.3 management frames) are sent and can pass through them (using management MAC address) to discover prospective coupling.

## Ambiguity 
* Distinction between desired changes due to train assembly/de-assembly or due to peering loss shall also be managed to avoid multiple Inauguration procedure....  How?

ETB switch port states

An ETB switch port can be in one of the states described in Table 12 (see also IEEE 802.1D):

## ETB switch port states
Port State Description
* Disabled: Frames are not allowed to enter (ingress) or leave (egress) disabled ports. Learning does
* Discarding: Only IEEE 802.3 management frames are allowed to enter (ingress) or leave (egress) a not take place on disabled ports Discarding port. All other frame types are discarded. Learning is disabled on Discarding
* Forwarding: Normal operation. All frames are allowed to enter (ingress) or leave (egress) a forwarding

ETB switch ports 就是指接在 backbone 上的 port,  沒有 learning state,   不可以跑 spanning tree, 但要可以設 Disabled/Discarding/Forwarding.

## CstUUID
CstUUID is used to uniquely identify a Consist in the world without the need of a central registration process. CstUUID is a 128 bits identifier. Its definition is done according to IETF RFC 4122. A Closed Train is seen as a Virtual Consist (see 6.3.2).  All ETBNs inside the same Consist shall have the same CstUUID.  A CstUUID is currently printed as a 32 significant digits identifier, for example:

“f81d4fae-7dec-11d0-a765-00a0c91e6bf6”

## Conntivity Vector
![connvec](https://cloud.githubusercontent.com/assets/400410/16605723/2f8d917c-4364-11e6-90a4-384ff1c193fd.png)
* maintain 一份就好 
* 內容來自收到的 HELLO frame 
* 發 TOPOLOGY frame 時, 編進去 ETB TLV 的  dir1MacAddr, ownMacAddr, dir2MacAddr 內.

![etbnvec](https://cloud.githubusercontent.com/assets/400410/16605835/3941d79a-4365-11e6-9958-aa90a34402b3.png)
* dir1 & dir2 各 maintain 一份
* 內容來自 TOPOLOGY frame
* 發 TOPOLOGY frame 時, 編進去 ETB TLV 的  nDir1Etbn, nDir2Etbn, dir1EtbnVector, dir2EtbnVector



## Train Network Directory
(TNDir) is recomputed by all ETBNs each time they receive a new TTDP TOPOLOGY frame
![etb_ref_dir](https://cloud.githubusercontent.com/assets/400410/16605688/e1f86504-4363-11e6-89d2-3bf108563bb8.png)
![tndir](https://cloud.githubusercontent.com/assets/400410/16605689/e1f8bd38-4363-11e6-9190-6cd532aa0afb.png)


``` asn.1
CN-TLV::= RECORD { -- Definition of TTDP topology CN specific TLV
cnTlvHeader TLV-HEADER { -- CN TLV header values
  tlvType (2),
  tlvLength (0..511)
},

  tlvCS UNSIGNED16, -- TLV checksum(see 7)
  etbTopoCnt UNSIGNED32, -- CRC32 of the internal "Train Network Directory" (see 13)
  ownEtbnNb UNSIGNED8 (1..32), -- Static relative position of the ETBN in the Consist (see 8)
  lengthen ANTIVALENT2, -- lengthening state (see 9)
  shorten ANTIVALENT2, -- shortening state (see 10)
  reserved1 UNSIGNED4 (0), -- 4-bit padding for 8-bit alignment
  nEtbnCst UNSIGNED8 (0..32), -- Number of ETBN in the Consist (see 11)
  nCnCst UNSIGNED8 (0..32), -- Number of CN in the Consist (see 12)
  cnToEtbnList ARRAY [nEtbnCst] OF ETBN-CN-CNX,  -- List of CNs attached to ETBNs
  cnTypes ARRAY ALIGN 32 [nCnCst] OF CN-TYPE  - Types of Consist networks
}
```

##  ETB conformity
To claim conformance to this standard, equipment are expected to pass a suite of tests.
Equipment to be tested shall include:
“Ethernet Train Backbone Node (ETBN): a Train Backbone Node conforming to this standard(train communication network based on Ethernet).”
The conformance test plan for ETB is not in the scope of this standard.

去哪找 a suite of tests.?


## Requirements other than TTDP
13.5.2 Maintenance and monitoring
### 13.5.2.1 Network monitoring
* ETBN shall implement a SNMPv2 agent (see IETF RFC 1901, RFC 1905 and RFC 1906).
* ETBN shall export the following MIBs:
  - IEEE8023-LAG-MIB
  - IEC 61375-2-5 TTDP-MIB as defined in Annex C
* ETBN should export the following MIBs:
  * MIB-II (Management Information Base, IETF RFC 1213)
  * IF-MIB (Interface group IETF RFC 2863)
  * VRRP-MIB (IETF RFC 2787)

### 13.5.2.2 ETBN Monitoring
* ETBN shall implement SSH or telnet/CLI.
* ETBN should implement a HTTP server.
The following list of parameters shall be available:
General:
* Manufacturer name,
* Device type,
* Device name,
* Device location,
* Product version

Status:

* Current Topology Discovery status,
* Current Ethernet ports statuses,
* IPv4 parameters.

* ETBN should implement SOAP maintenance Web services.



## compliance
* Physical cable: Page 17 
* POE: page 27
* redundancy: page 29
* data link:  page 32,  802.1ax is `conditional` but link aggregation is `Mandatory`. 

## How is ETBN id decided
The train Inauguration procedure shall respect the following rules:
* The train ETBN ending node inside the Consist with the lowest Consist UUID, is defined as the train ETBN top node.
* If train is composed of a unique Consist, ETBN top node is statically defined.
* ETBN top node takes the “ETBN Id” equal to 1.
* Subsequent ETBNs in the ETB reference direction 2 are numbered in ascending order starting with 2, the last numbered ETBN being the ETB bottom node.
* The ETB reference direction always points in the direction of the ETBN top node (see Figure 28).

* top 車廂的 CstUUID 要手動 define, 請故意設超小
* 其他靠  topology frame交換資料後, 可以得到 ETBN 順序.  從top 到 end的順序.
* 第一台 ID 是 1, 第二台是 2, 以此類推.